.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

.team-logo {
  display: inline-block;
  position: relative;
  margin: 3px;
  width: 160px;
  height: 160px;
  background-size: 160px;
  cursor: pointer;
}

.teamactive {
  border: 6px solid yellow;
}

.team-image {
  display: inline-block;
  position: relative;
  margin: 3px;
  width: 160px;
  height: 160px;
  background-size: 160px;
  cursor: pointer;
}

.imageactive {
  border: 6px solid yellow;
}

.screen {
  background-position: 0px 0px, center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}

