/*!
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
}

/* makes the font 33% larger relative to the icon container */
.fa-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}

.fa-2x {
  font-size: 2em;
}

.fa-3x {
  font-size: 3em;
}

.fa-4x {
  font-size: 4em;
}

.fa-5x {
  font-size: 5em;
}

.fa-fw {
  width: 1.28571429em;
  text-align: center;
}

.fa-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}

.fa-ul > li {
  position: relative;
}

.fa-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}

.fa-li.fa-lg {
  left: -1.85714286em;
}

.fa-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eeeeee;
  border-radius: .1em;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.fa.pull-left {
  margin-right: .3em;
}

.fa.pull-right {
  margin-left: .3em;
}

.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}

.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.fa-rotate-90 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fa-rotate-180 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.fa-rotate-270 {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}

.fa-flip-horizontal {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}

.fa-flip-vertical {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}

:root .fa-rotate-90,
:root .fa-rotate-180,
:root .fa-rotate-270,
:root .fa-flip-horizontal,
:root .fa-flip-vertical {
  filter: none;
}

.fa-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}

.fa-stack-1x,
.fa-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.fa-stack-1x {
  line-height: inherit;
}

.fa-stack-2x {
  font-size: 2em;
}

.fa-inverse {
  color: #ffffff;
}

/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}

.fa-music:before {
  content: "\f001";
}

.fa-search:before {
  content: "\f002";
}

.fa-envelope-o:before {
  content: "\f003";
}

.fa-heart:before {
  content: "\f004";
}

.fa-star:before {
  content: "\f005";
}

.fa-star-o:before {
  content: "\f006";
}

.fa-user:before {
  content: "\f007";
}

.fa-film:before {
  content: "\f008";
}

.fa-th-large:before {
  content: "\f009";
}

.fa-th:before {
  content: "\f00a";
}

.fa-th-list:before {
  content: "\f00b";
}

.fa-check:before {
  content: "\f00c";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}

.fa-search-plus:before {
  content: "\f00e";
}

.fa-search-minus:before {
  content: "\f010";
}

.fa-power-off:before {
  content: "\f011";
}

.fa-signal:before {
  content: "\f012";
}

.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}

.fa-trash-o:before {
  content: "\f014";
}

.fa-home:before {
  content: "\f015";
}

.fa-file-o:before {
  content: "\f016";
}

.fa-clock-o:before {
  content: "\f017";
}

.fa-road:before {
  content: "\f018";
}

.fa-download:before {
  content: "\f019";
}

.fa-arrow-circle-o-down:before {
  content: "\f01a";
}

.fa-arrow-circle-o-up:before {
  content: "\f01b";
}

.fa-inbox:before {
  content: "\f01c";
}

.fa-play-circle-o:before {
  content: "\f01d";
}

.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}

.fa-refresh:before {
  content: "\f021";
}

.fa-list-alt:before {
  content: "\f022";
}

.fa-lock:before {
  content: "\f023";
}

.fa-flag:before {
  content: "\f024";
}

.fa-headphones:before {
  content: "\f025";
}

.fa-volume-off:before {
  content: "\f026";
}

.fa-volume-down:before {
  content: "\f027";
}

.fa-volume-up:before {
  content: "\f028";
}

.fa-qrcode:before {
  content: "\f029";
}

.fa-barcode:before {
  content: "\f02a";
}

.fa-tag:before {
  content: "\f02b";
}

.fa-tags:before {
  content: "\f02c";
}

.fa-book:before {
  content: "\f02d";
}

.fa-bookmark:before {
  content: "\f02e";
}

.fa-print:before {
  content: "\f02f";
}

.fa-camera:before {
  content: "\f030";
}

.fa-font:before {
  content: "\f031";
}

.fa-bold:before {
  content: "\f032";
}

.fa-italic:before {
  content: "\f033";
}

.fa-text-height:before {
  content: "\f034";
}

.fa-text-width:before {
  content: "\f035";
}

.fa-align-left:before {
  content: "\f036";
}

.fa-align-center:before {
  content: "\f037";
}

.fa-align-right:before {
  content: "\f038";
}

.fa-align-justify:before {
  content: "\f039";
}

.fa-list:before {
  content: "\f03a";
}

.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}

.fa-indent:before {
  content: "\f03c";
}

.fa-video-camera:before {
  content: "\f03d";
}

.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}

.fa-pencil:before {
  content: "\f040";
}

.fa-map-marker:before {
  content: "\f041";
}

.fa-adjust:before {
  content: "\f042";
}

.fa-tint:before {
  content: "\f043";
}

.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}

.fa-share-square-o:before {
  content: "\f045";
}

.fa-check-square-o:before {
  content: "\f046";
}

.fa-arrows:before {
  content: "\f047";
}

.fa-step-backward:before {
  content: "\f048";
}

.fa-fast-backward:before {
  content: "\f049";
}

.fa-backward:before {
  content: "\f04a";
}

.fa-play:before {
  content: "\f04b";
}

.fa-pause:before {
  content: "\f04c";
}

.fa-stop:before {
  content: "\f04d";
}

.fa-forward:before {
  content: "\f04e";
}

.fa-fast-forward:before {
  content: "\f050";
}

.fa-step-forward:before {
  content: "\f051";
}

.fa-eject:before {
  content: "\f052";
}

.fa-chevron-left:before {
  content: "\f053";
}

.fa-chevron-right:before {
  content: "\f054";
}

.fa-plus-circle:before {
  content: "\f055";
}

.fa-minus-circle:before {
  content: "\f056";
}

.fa-times-circle:before {
  content: "\f057";
}

.fa-check-circle:before {
  content: "\f058";
}

.fa-question-circle:before {
  content: "\f059";
}

.fa-info-circle:before {
  content: "\f05a";
}

.fa-crosshairs:before {
  content: "\f05b";
}

.fa-times-circle-o:before {
  content: "\f05c";
}

.fa-check-circle-o:before {
  content: "\f05d";
}

.fa-ban:before {
  content: "\f05e";
}

.fa-arrow-left:before {
  content: "\f060";
}

.fa-arrow-right:before {
  content: "\f061";
}

.fa-arrow-up:before {
  content: "\f062";
}

.fa-arrow-down:before {
  content: "\f063";
}

.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}

.fa-expand:before {
  content: "\f065";
}

.fa-compress:before {
  content: "\f066";
}

.fa-plus:before {
  content: "\f067";
}

.fa-minus:before {
  content: "\f068";
}

.fa-asterisk:before {
  content: "\f069";
}

.fa-exclamation-circle:before {
  content: "\f06a";
}

.fa-gift:before {
  content: "\f06b";
}

.fa-leaf:before {
  content: "\f06c";
}

.fa-fire:before {
  content: "\f06d";
}

.fa-eye:before {
  content: "\f06e";
}

.fa-eye-slash:before {
  content: "\f070";
}

.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}

.fa-plane:before {
  content: "\f072";
}

.fa-calendar:before {
  content: "\f073";
}

.fa-random:before {
  content: "\f074";
}

.fa-comment:before {
  content: "\f075";
}

.fa-magnet:before {
  content: "\f076";
}

.fa-chevron-up:before {
  content: "\f077";
}

.fa-chevron-down:before {
  content: "\f078";
}

.fa-retweet:before {
  content: "\f079";
}

.fa-shopping-cart:before {
  content: "\f07a";
}

.fa-folder:before {
  content: "\f07b";
}

.fa-folder-open:before {
  content: "\f07c";
}

.fa-arrows-v:before {
  content: "\f07d";
}

.fa-arrows-h:before {
  content: "\f07e";
}

.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}

.fa-twitter-square:before {
  content: "\f081";
}

.fa-facebook-square:before {
  content: "\f082";
}

.fa-camera-retro:before {
  content: "\f083";
}

.fa-key:before {
  content: "\f084";
}

.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}

.fa-comments:before {
  content: "\f086";
}

.fa-thumbs-o-up:before {
  content: "\f087";
}

.fa-thumbs-o-down:before {
  content: "\f088";
}

.fa-star-half:before {
  content: "\f089";
}

.fa-heart-o:before {
  content: "\f08a";
}

.fa-sign-out:before {
  content: "\f08b";
}

.fa-linkedin-square:before {
  content: "\f08c";
}

.fa-thumb-tack:before {
  content: "\f08d";
}

.fa-external-link:before {
  content: "\f08e";
}

.fa-sign-in:before {
  content: "\f090";
}

.fa-trophy:before {
  content: "\f091";
}

.fa-github-square:before {
  content: "\f092";
}

.fa-upload:before {
  content: "\f093";
}

.fa-lemon-o:before {
  content: "\f094";
}

.fa-phone:before {
  content: "\f095";
}

.fa-square-o:before {
  content: "\f096";
}

.fa-bookmark-o:before {
  content: "\f097";
}

.fa-phone-square:before {
  content: "\f098";
}

.fa-twitter:before {
  content: "\f099";
}

.fa-facebook-f:before,
.fa-facebook:before {
  content: "\f09a";
}

.fa-github:before {
  content: "\f09b";
}

.fa-unlock:before {
  content: "\f09c";
}

.fa-credit-card:before {
  content: "\f09d";
}

.fa-rss:before {
  content: "\f09e";
}

.fa-hdd-o:before {
  content: "\f0a0";
}

.fa-bullhorn:before {
  content: "\f0a1";
}

.fa-bell:before {
  content: "\f0f3";
}

.fa-certificate:before {
  content: "\f0a3";
}

.fa-hand-o-right:before {
  content: "\f0a4";
}

.fa-hand-o-left:before {
  content: "\f0a5";
}

.fa-hand-o-up:before {
  content: "\f0a6";
}

.fa-hand-o-down:before {
  content: "\f0a7";
}

.fa-arrow-circle-left:before {
  content: "\f0a8";
}

.fa-arrow-circle-right:before {
  content: "\f0a9";
}

.fa-arrow-circle-up:before {
  content: "\f0aa";
}

.fa-arrow-circle-down:before {
  content: "\f0ab";
}

.fa-globe:before {
  content: "\f0ac";
}

.fa-wrench:before {
  content: "\f0ad";
}

.fa-tasks:before {
  content: "\f0ae";
}

.fa-filter:before {
  content: "\f0b0";
}

.fa-briefcase:before {
  content: "\f0b1";
}

.fa-arrows-alt:before {
  content: "\f0b2";
}

.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}

.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}

.fa-cloud:before {
  content: "\f0c2";
}

.fa-flask:before {
  content: "\f0c3";
}

.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}

.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}

.fa-paperclip:before {
  content: "\f0c6";
}

.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}

.fa-square:before {
  content: "\f0c8";
}

.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}

.fa-list-ul:before {
  content: "\f0ca";
}

.fa-list-ol:before {
  content: "\f0cb";
}

.fa-strikethrough:before {
  content: "\f0cc";
}

.fa-underline:before {
  content: "\f0cd";
}

.fa-table:before {
  content: "\f0ce";
}

.fa-magic:before {
  content: "\f0d0";
}

.fa-truck:before {
  content: "\f0d1";
}

.fa-pinterest:before {
  content: "\f0d2";
}

.fa-pinterest-square:before {
  content: "\f0d3";
}

.fa-google-plus-square:before {
  content: "\f0d4";
}

.fa-google-plus:before {
  content: "\f0d5";
}

.fa-money:before {
  content: "\f0d6";
}

.fa-caret-down:before {
  content: "\f0d7";
}

.fa-caret-up:before {
  content: "\f0d8";
}

.fa-caret-left:before {
  content: "\f0d9";
}

.fa-caret-right:before {
  content: "\f0da";
}

.fa-columns:before {
  content: "\f0db";
}

.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}

.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}

.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}

.fa-envelope:before {
  content: "\f0e0";
}

.fa-linkedin:before {
  content: "\f0e1";
}

.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}

.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}

.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}

.fa-comment-o:before {
  content: "\f0e5";
}

.fa-comments-o:before {
  content: "\f0e6";
}

.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}

.fa-sitemap:before {
  content: "\f0e8";
}

.fa-umbrella:before {
  content: "\f0e9";
}

.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}

.fa-lightbulb-o:before {
  content: "\f0eb";
}

.fa-exchange:before {
  content: "\f0ec";
}

.fa-cloud-download:before {
  content: "\f0ed";
}

.fa-cloud-upload:before {
  content: "\f0ee";
}

.fa-user-md:before {
  content: "\f0f0";
}

.fa-stethoscope:before {
  content: "\f0f1";
}

.fa-suitcase:before {
  content: "\f0f2";
}

.fa-bell-o:before {
  content: "\f0a2";
}

.fa-coffee:before {
  content: "\f0f4";
}

.fa-cutlery:before {
  content: "\f0f5";
}

.fa-file-text-o:before {
  content: "\f0f6";
}

.fa-building-o:before {
  content: "\f0f7";
}

.fa-hospital-o:before {
  content: "\f0f8";
}

.fa-ambulance:before {
  content: "\f0f9";
}

.fa-medkit:before {
  content: "\f0fa";
}

.fa-fighter-jet:before {
  content: "\f0fb";
}

.fa-beer:before {
  content: "\f0fc";
}

.fa-h-square:before {
  content: "\f0fd";
}

.fa-plus-square:before {
  content: "\f0fe";
}

.fa-angle-double-left:before {
  content: "\f100";
}

.fa-angle-double-right:before {
  content: "\f101";
}

.fa-angle-double-up:before {
  content: "\f102";
}

.fa-angle-double-down:before {
  content: "\f103";
}

.fa-angle-left:before {
  content: "\f104";
}

.fa-angle-right:before {
  content: "\f105";
}

.fa-angle-up:before {
  content: "\f106";
}

.fa-angle-down:before {
  content: "\f107";
}

.fa-desktop:before {
  content: "\f108";
}

.fa-laptop:before {
  content: "\f109";
}

.fa-tablet:before {
  content: "\f10a";
}

.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}

.fa-circle-o:before {
  content: "\f10c";
}

.fa-quote-left:before {
  content: "\f10d";
}

.fa-quote-right:before {
  content: "\f10e";
}

.fa-spinner:before {
  content: "\f110";
}

.fa-circle:before {
  content: "\f111";
}

.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}

.fa-github-alt:before {
  content: "\f113";
}

.fa-folder-o:before {
  content: "\f114";
}

.fa-folder-open-o:before {
  content: "\f115";
}

.fa-smile-o:before {
  content: "\f118";
}

.fa-frown-o:before {
  content: "\f119";
}

.fa-meh-o:before {
  content: "\f11a";
}

.fa-gamepad:before {
  content: "\f11b";
}

.fa-keyboard-o:before {
  content: "\f11c";
}

.fa-flag-o:before {
  content: "\f11d";
}

.fa-flag-checkered:before {
  content: "\f11e";
}

.fa-terminal:before {
  content: "\f120";
}

.fa-code:before {
  content: "\f121";
}

.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}

.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}

.fa-location-arrow:before {
  content: "\f124";
}

.fa-crop:before {
  content: "\f125";
}

.fa-code-fork:before {
  content: "\f126";
}

.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}

.fa-question:before {
  content: "\f128";
}

.fa-info:before {
  content: "\f129";
}

.fa-exclamation:before {
  content: "\f12a";
}

.fa-superscript:before {
  content: "\f12b";
}

.fa-subscript:before {
  content: "\f12c";
}

.fa-eraser:before {
  content: "\f12d";
}

.fa-puzzle-piece:before {
  content: "\f12e";
}

.fa-microphone:before {
  content: "\f130";
}

.fa-microphone-slash:before {
  content: "\f131";
}

.fa-shield:before {
  content: "\f132";
}

.fa-calendar-o:before {
  content: "\f133";
}

.fa-fire-extinguisher:before {
  content: "\f134";
}

.fa-rocket:before {
  content: "\f135";
}

.fa-maxcdn:before {
  content: "\f136";
}

.fa-chevron-circle-left:before {
  content: "\f137";
}

.fa-chevron-circle-right:before {
  content: "\f138";
}

.fa-chevron-circle-up:before {
  content: "\f139";
}

.fa-chevron-circle-down:before {
  content: "\f13a";
}

.fa-html5:before {
  content: "\f13b";
}

.fa-css3:before {
  content: "\f13c";
}

.fa-anchor:before {
  content: "\f13d";
}

.fa-unlock-alt:before {
  content: "\f13e";
}

.fa-bullseye:before {
  content: "\f140";
}

.fa-ellipsis-h:before {
  content: "\f141";
}

.fa-ellipsis-v:before {
  content: "\f142";
}

.fa-rss-square:before {
  content: "\f143";
}

.fa-play-circle:before {
  content: "\f144";
}

.fa-ticket:before {
  content: "\f145";
}

.fa-minus-square:before {
  content: "\f146";
}

.fa-minus-square-o:before {
  content: "\f147";
}

.fa-level-up:before {
  content: "\f148";
}

.fa-level-down:before {
  content: "\f149";
}

.fa-check-square:before {
  content: "\f14a";
}

.fa-pencil-square:before {
  content: "\f14b";
}

.fa-external-link-square:before {
  content: "\f14c";
}

.fa-share-square:before {
  content: "\f14d";
}

.fa-compass:before {
  content: "\f14e";
}

.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}

.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}

.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}

.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}

.fa-gbp:before {
  content: "\f154";
}

.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}

.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}

.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}

.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}

.fa-won:before,
.fa-krw:before {
  content: "\f159";
}

.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}

.fa-file:before {
  content: "\f15b";
}

.fa-file-text:before {
  content: "\f15c";
}

.fa-sort-alpha-asc:before {
  content: "\f15d";
}

.fa-sort-alpha-desc:before {
  content: "\f15e";
}

.fa-sort-amount-asc:before {
  content: "\f160";
}

.fa-sort-amount-desc:before {
  content: "\f161";
}

.fa-sort-numeric-asc:before {
  content: "\f162";
}

.fa-sort-numeric-desc:before {
  content: "\f163";
}

.fa-thumbs-up:before {
  content: "\f164";
}

.fa-thumbs-down:before {
  content: "\f165";
}

.fa-youtube-square:before {
  content: "\f166";
}

.fa-youtube:before {
  content: "\f167";
}

.fa-xing:before {
  content: "\f168";
}

.fa-xing-square:before {
  content: "\f169";
}

.fa-youtube-play:before {
  content: "\f16a";
}

.fa-dropbox:before {
  content: "\f16b";
}

.fa-stack-overflow:before {
  content: "\f16c";
}

.fa-instagram:before {
  content: "\f16d";
}

.fa-flickr:before {
  content: "\f16e";
}

.fa-adn:before {
  content: "\f170";
}

.fa-bitbucket:before {
  content: "\f171";
}

.fa-bitbucket-square:before {
  content: "\f172";
}

.fa-tumblr:before {
  content: "\f173";
}

.fa-tumblr-square:before {
  content: "\f174";
}

.fa-long-arrow-down:before {
  content: "\f175";
}

.fa-long-arrow-up:before {
  content: "\f176";
}

.fa-long-arrow-left:before {
  content: "\f177";
}

.fa-long-arrow-right:before {
  content: "\f178";
}

.fa-apple:before {
  content: "\f179";
}

.fa-windows:before {
  content: "\f17a";
}

.fa-android:before {
  content: "\f17b";
}

.fa-linux:before {
  content: "\f17c";
}

.fa-dribbble:before {
  content: "\f17d";
}

.fa-skype:before {
  content: "\f17e";
}

.fa-foursquare:before {
  content: "\f180";
}

.fa-trello:before {
  content: "\f181";
}

.fa-female:before {
  content: "\f182";
}

.fa-male:before {
  content: "\f183";
}

.fa-gittip:before,
.fa-gratipay:before {
  content: "\f184";
}

.fa-sun-o:before {
  content: "\f185";
}

.fa-moon-o:before {
  content: "\f186";
}

.fa-archive:before {
  content: "\f187";
}

.fa-bug:before {
  content: "\f188";
}

.fa-vk:before {
  content: "\f189";
}

.fa-weibo:before {
  content: "\f18a";
}

.fa-renren:before {
  content: "\f18b";
}

.fa-pagelines:before {
  content: "\f18c";
}

.fa-stack-exchange:before {
  content: "\f18d";
}

.fa-arrow-circle-o-right:before {
  content: "\f18e";
}

.fa-arrow-circle-o-left:before {
  content: "\f190";
}

.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}

.fa-dot-circle-o:before {
  content: "\f192";
}

.fa-wheelchair:before {
  content: "\f193";
}

.fa-vimeo-square:before {
  content: "\f194";
}

.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}

.fa-plus-square-o:before {
  content: "\f196";
}

.fa-space-shuttle:before {
  content: "\f197";
}

.fa-slack:before {
  content: "\f198";
}

.fa-envelope-square:before {
  content: "\f199";
}

.fa-wordpress:before {
  content: "\f19a";
}

.fa-openid:before {
  content: "\f19b";
}

.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}

.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}

.fa-yahoo:before {
  content: "\f19e";
}

.fa-google:before {
  content: "\f1a0";
}

.fa-reddit:before {
  content: "\f1a1";
}

.fa-reddit-square:before {
  content: "\f1a2";
}

.fa-stumbleupon-circle:before {
  content: "\f1a3";
}

.fa-stumbleupon:before {
  content: "\f1a4";
}

.fa-delicious:before {
  content: "\f1a5";
}

.fa-digg:before {
  content: "\f1a6";
}

.fa-pied-piper:before {
  content: "\f1a7";
}

.fa-pied-piper-alt:before {
  content: "\f1a8";
}

.fa-drupal:before {
  content: "\f1a9";
}

.fa-joomla:before {
  content: "\f1aa";
}

.fa-language:before {
  content: "\f1ab";
}

.fa-fax:before {
  content: "\f1ac";
}

.fa-building:before {
  content: "\f1ad";
}

.fa-child:before {
  content: "\f1ae";
}

.fa-paw:before {
  content: "\f1b0";
}

.fa-spoon:before {
  content: "\f1b1";
}

.fa-cube:before {
  content: "\f1b2";
}

.fa-cubes:before {
  content: "\f1b3";
}

.fa-behance:before {
  content: "\f1b4";
}

.fa-behance-square:before {
  content: "\f1b5";
}

.fa-steam:before {
  content: "\f1b6";
}

.fa-steam-square:before {
  content: "\f1b7";
}

.fa-recycle:before {
  content: "\f1b8";
}

.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}

.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}

.fa-tree:before {
  content: "\f1bb";
}

.fa-spotify:before {
  content: "\f1bc";
}

.fa-deviantart:before {
  content: "\f1bd";
}

.fa-soundcloud:before {
  content: "\f1be";
}

.fa-database:before {
  content: "\f1c0";
}

.fa-file-pdf-o:before {
  content: "\f1c1";
}

.fa-file-word-o:before {
  content: "\f1c2";
}

.fa-file-excel-o:before {
  content: "\f1c3";
}

.fa-file-powerpoint-o:before {
  content: "\f1c4";
}

.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}

.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}

.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}

.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}

.fa-file-code-o:before {
  content: "\f1c9";
}

.fa-vine:before {
  content: "\f1ca";
}

.fa-codepen:before {
  content: "\f1cb";
}

.fa-jsfiddle:before {
  content: "\f1cc";
}

.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}

.fa-circle-o-notch:before {
  content: "\f1ce";
}

.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}

.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}

.fa-git-square:before {
  content: "\f1d2";
}

.fa-git:before {
  content: "\f1d3";
}

.fa-hacker-news:before {
  content: "\f1d4";
}

.fa-tencent-weibo:before {
  content: "\f1d5";
}

.fa-qq:before {
  content: "\f1d6";
}

.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}

.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}

.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}

.fa-history:before {
  content: "\f1da";
}

.fa-genderless:before,
.fa-circle-thin:before {
  content: "\f1db";
}

.fa-header:before {
  content: "\f1dc";
}

.fa-paragraph:before {
  content: "\f1dd";
}

.fa-sliders:before {
  content: "\f1de";
}

.fa-share-alt:before {
  content: "\f1e0";
}

.fa-share-alt-square:before {
  content: "\f1e1";
}

.fa-bomb:before {
  content: "\f1e2";
}

.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}

.fa-tty:before {
  content: "\f1e4";
}

.fa-binoculars:before {
  content: "\f1e5";
}

.fa-plug:before {
  content: "\f1e6";
}

.fa-slideshare:before {
  content: "\f1e7";
}

.fa-twitch:before {
  content: "\f1e8";
}

.fa-yelp:before {
  content: "\f1e9";
}

.fa-newspaper-o:before {
  content: "\f1ea";
}

.fa-wifi:before {
  content: "\f1eb";
}

.fa-calculator:before {
  content: "\f1ec";
}

.fa-paypal:before {
  content: "\f1ed";
}

.fa-google-wallet:before {
  content: "\f1ee";
}

.fa-cc-visa:before {
  content: "\f1f0";
}

.fa-cc-mastercard:before {
  content: "\f1f1";
}

.fa-cc-discover:before {
  content: "\f1f2";
}

.fa-cc-amex:before {
  content: "\f1f3";
}

.fa-cc-paypal:before {
  content: "\f1f4";
}

.fa-cc-stripe:before {
  content: "\f1f5";
}

.fa-bell-slash:before {
  content: "\f1f6";
}

.fa-bell-slash-o:before {
  content: "\f1f7";
}

.fa-trash:before {
  content: "\f1f8";
}

.fa-copyright:before {
  content: "\f1f9";
}

.fa-at:before {
  content: "\f1fa";
}

.fa-eyedropper:before {
  content: "\f1fb";
}

.fa-paint-brush:before {
  content: "\f1fc";
}

.fa-birthday-cake:before {
  content: "\f1fd";
}

.fa-area-chart:before {
  content: "\f1fe";
}

.fa-pie-chart:before {
  content: "\f200";
}

.fa-line-chart:before {
  content: "\f201";
}

.fa-lastfm:before {
  content: "\f202";
}

.fa-lastfm-square:before {
  content: "\f203";
}

.fa-toggle-off:before {
  content: "\f204";
}

.fa-toggle-on:before {
  content: "\f205";
}

.fa-bicycle:before {
  content: "\f206";
}

.fa-bus:before {
  content: "\f207";
}

.fa-ioxhost:before {
  content: "\f208";
}

.fa-angellist:before {
  content: "\f209";
}

.fa-cc:before {
  content: "\f20a";
}

.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}

.fa-meanpath:before {
  content: "\f20c";
}

.fa-buysellads:before {
  content: "\f20d";
}

.fa-connectdevelop:before {
  content: "\f20e";
}

.fa-dashcube:before {
  content: "\f210";
}

.fa-forumbee:before {
  content: "\f211";
}

.fa-leanpub:before {
  content: "\f212";
}

.fa-sellsy:before {
  content: "\f213";
}

.fa-shirtsinbulk:before {
  content: "\f214";
}

.fa-simplybuilt:before {
  content: "\f215";
}

.fa-skyatlas:before {
  content: "\f216";
}

.fa-cart-plus:before {
  content: "\f217";
}

.fa-cart-arrow-down:before {
  content: "\f218";
}

.fa-diamond:before {
  content: "\f219";
}

.fa-ship:before {
  content: "\f21a";
}

.fa-user-secret:before {
  content: "\f21b";
}

.fa-motorcycle:before {
  content: "\f21c";
}

.fa-street-view:before {
  content: "\f21d";
}

.fa-heartbeat:before {
  content: "\f21e";
}

.fa-venus:before {
  content: "\f221";
}

.fa-mars:before {
  content: "\f222";
}

.fa-mercury:before {
  content: "\f223";
}

.fa-transgender:before {
  content: "\f224";
}

.fa-transgender-alt:before {
  content: "\f225";
}

.fa-venus-double:before {
  content: "\f226";
}

.fa-mars-double:before {
  content: "\f227";
}

.fa-venus-mars:before {
  content: "\f228";
}

.fa-mars-stroke:before {
  content: "\f229";
}

.fa-mars-stroke-v:before {
  content: "\f22a";
}

.fa-mars-stroke-h:before {
  content: "\f22b";
}

.fa-neuter:before {
  content: "\f22c";
}

.fa-facebook-official:before {
  content: "\f230";
}

.fa-pinterest-p:before {
  content: "\f231";
}

.fa-whatsapp:before {
  content: "\f232";
}

.fa-server:before {
  content: "\f233";
}

.fa-user-plus:before {
  content: "\f234";
}

.fa-user-times:before {
  content: "\f235";
}

.fa-hotel:before,
.fa-bed:before {
  content: "\f236";
}

.fa-viacoin:before {
  content: "\f237";
}

.fa-train:before {
  content: "\f238";
}

.fa-subway:before {
  content: "\f239";
}

.fa-medium:before {
  content: "\f23a";
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.owl-carousel .owl-animated-in {
  z-index: 0;
}

.owl-carousel .owl-animated-out {
  z-index: 1;
}

.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/* 
 *  Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}

/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}

.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}

.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  z-index: 1;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-stage,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}

.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel.owl-loaded {
  display: block;
}

.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}

.owl-carousel.owl-hidden {
  opacity: 0;
}

.owl-carousel .owl-refresh .owl-item {
  display: none;
}

.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}

.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}

.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}

.owl-carousel.owl-rtl {
  direction: rtl;
}

.owl-carousel.owl-rtl .owl-item {
  float: right;
}

/* No Js */
.no-js .owl-carousel {
  display: block;
}

/* 
 *  Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}

/* 
 *  Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}

.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}

.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}

.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}

.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}

body {
  background: url(../images/body-bg.jpg) 50% 0 repeat-x #151718;
  font-family: 'rlfont';
}

html, body {
  width: 100%;
  height: 100%;
}

.wrapper {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  max-width: 750px;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

.wrapper-offset {
  margin-left: -50px;
  margin-right: -50px;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../fonts/glyphicons-halflings-regular.eot");
  src: url("../fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/glyphicons-halflings-regular.woff") format("woff"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rlfont';
  src: url("../fonts/rlfont_regular-webfont.eot");
  src: url("../fonts/rlfont_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rlfont_regular-webfont.woff2") format("woff2"), url("../fonts/rlfont_regular-webfont.woff") format("woff"), url("../fonts/rlfont_regular-webfont.ttf") format("truetype"), url("../fonts/rlfont_regular-webfont.svg#rlfont_regularregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rlfont';
  src: url("../fonts/rlfont_bold-webfont.eot");
  src: url("../fonts/rlfont_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rlfont_bold-webfont.woff2") format("woff2"), url("../fonts/rlfont_bold-webfont.woff") format("woff"), url("../fonts/rlfont_bold-webfont.ttf") format("truetype"), url("../fonts/rlfont_bold-webfont.svg#rlfont_boldregular") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'rlfont';
  src: url("../fonts/rlfont_black-webfont.eot");
  src: url("../fonts/rlfont_black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/rlfont_black-webfont.woff2") format("woff2"), url("../fonts/rlfont_black-webfont.woff") format("woff"), url("../fonts/rlfont_black-webfont.ttf") format("truetype"), url("../fonts/rlfont_black-webfont.svg#rlfont_blackregular") format("svg");
  font-weight: 800;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6, div, p, a, ul, ol, li, dl, dt, dd {
  margin-top: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 30px;
}

h2 {
  font-size: 40px;
  color: #ffffff;
}

h3 {
  text-shadow: 1px 1px 2px black;
}

h1, h2, h3 {
  text-transform: uppercase;
}

.heading-group {
  margin-bottom: 20px;
}
.heading-group h1, .heading-group h2, .heading-group h3, .heading-group h4, .heading-group h5, .heading-group h6 {
  margin-bottom: 0;
}
.heading-group:last-child {
  margin-bottom: 0;
}

.icon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook {
  background: url(../images/icons/icon-facebook.png) 0 0 no-repeat;
  background-size: 30px 61px;
  width: 30px;
  height: 61px;
}

.icon-twitter {
  background: url(../images/icons/icon-twitter.png) 0 0 no-repeat;
  background-size: 82px 56px;
  width: 82px;
  height: 56px;
}

.icon-save {
  background: url(../images/icons/icon-save.png) 0 0 no-repeat;
  background-size: 69px 69px;
  width: 69px;
  height: 69px;
}

.btns .btn {
  margin-bottom: 30px;
}

.btn {
  font-size: 36px;
  height: 135px;
  display: table;
  text-align: center;
  padding: 0;
  line-height: 0.8;
  font-weight: 800;
}
.btn span {
  display: table-cell;
  vertical-align: middle;
}

.btn-default {
  border: 4px solid #f0db00 !important;
  background: none !important;
  color: #f0db00 !important;
}

.btn-secondary {
  background-color: #797979;
  border-color: #797979;
  color: #ffffff;
}
.btn-secondary:hover {
  background-color: #5f5f5f;
  border-color: #5f5f5f;
  color: #ffffff;
}

.intro h1 {
  color: #ffffff;
  font-size: 56px;
  text-transform: uppercase;
  line-height: 1;
}
.intro h1 span {
  display: block;
  position: relative;
  font-size: 31px;
  max-width: 540px;
  margin: 0 auto;
  line-height: 0.8;
}
.intro h1 span:before, .intro h1 span:after {
  content: '';
  top: 50%;
  position: absolute;
  background-color: #ffffff;
  height: 3px;
  width: 240px;
  margin-top: -3px;
}
.intro h1 span:before {
  left: 0;
}
.intro h1 span:after {
  right: 0;
}
.intro h1 em {
  font-style: normal;
  font-size: 73px;
  color: #fad831;
  letter-spacing: -1px;
}
.intro .logo {
  margin-bottom: 35px;
}

.logo {
  background: url(../images/nrl-logo.png) 0 0 no-repeat;
  background-size: 153px 176px;
  width: 153px;
  height: 176px;
  margin: 0 auto;
}

.logo-small {
  background-size: 73px 84px;
  width: 73px;
  height: 84px;
}

.intro-content {
  text-align: center;
  min-height: 300px;
}

.carousel-container {
  position: relative;
  display: block;
  margin-bottom: 40px;
}

.left-filler, .right-filler {
  position: absolute;
  top: 0;
  width: 73px;
  height: 100%;
  z-index: 9;
}

.left-filler {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#151718+0,161819+61,141717+75,161919+77,171717+81,141818+82,16161a+83,181818+84,141a1a+86,161616+87,181818+88,14141b+90,161616+91,191919+92,121b1b+94,141414+95,1a1a1a+97,0e1c1c+99,101010+100&amp;1+0,0.98+26,0.96+32,0.9+42,0.83+48,0.69+57,0.59+61,0.24+82,0.12+92,0.06+100 */
  background: -moz-linear-gradient(left, #151718 0%, rgba(21, 23, 24, 0.98) 26%, rgba(21, 23, 24, 0.96) 32%, rgba(21, 23, 24, 0.9) 42%, rgba(21, 23, 24, 0.83) 48%, rgba(22, 24, 25, 0.69) 57%, rgba(22, 24, 25, 0.59) 61%, rgba(20, 23, 23, 0.36) 75%, rgba(22, 25, 25, 0.33) 77%, rgba(23, 23, 23, 0.26) 81%, rgba(20, 24, 24, 0.24) 82%, rgba(22, 22, 26, 0.23) 83%, rgba(24, 24, 24, 0.22) 84%, rgba(20, 26, 26, 0.2) 86%, rgba(22, 22, 22, 0.19) 87%, rgba(24, 24, 24, 0.18) 88%, rgba(20, 20, 27, 0.15) 90%, rgba(22, 22, 22, 0.14) 91%, rgba(25, 25, 25, 0.12) 92%, rgba(18, 27, 27, 0.11) 94%, rgba(20, 20, 20, 0.1) 95%, rgba(26, 26, 26, 0.08) 97%, rgba(14, 28, 28, 0.07) 99%, rgba(16, 16, 16, 0.06) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #151718), color-stop(26%, rgba(21, 23, 24, 0.98)), color-stop(32%, rgba(21, 23, 24, 0.96)), color-stop(42%, rgba(21, 23, 24, 0.9)), color-stop(48%, rgba(21, 23, 24, 0.83)), color-stop(57%, rgba(22, 24, 25, 0.69)), color-stop(61%, rgba(22, 24, 25, 0.59)), color-stop(75%, rgba(20, 23, 23, 0.36)), color-stop(77%, rgba(22, 25, 25, 0.33)), color-stop(81%, rgba(23, 23, 23, 0.26)), color-stop(82%, rgba(20, 24, 24, 0.24)), color-stop(83%, rgba(22, 22, 26, 0.23)), color-stop(84%, rgba(24, 24, 24, 0.22)), color-stop(86%, rgba(20, 26, 26, 0.2)), color-stop(87%, rgba(22, 22, 22, 0.19)), color-stop(88%, rgba(24, 24, 24, 0.18)), color-stop(90%, rgba(20, 20, 27, 0.15)), color-stop(91%, rgba(22, 22, 22, 0.14)), color-stop(92%, rgba(25, 25, 25, 0.12)), color-stop(94%, rgba(18, 27, 27, 0.11)), color-stop(95%, rgba(20, 20, 20, 0.1)), color-stop(97%, rgba(26, 26, 26, 0.08)), color-stop(99%, rgba(14, 28, 28, 0.07)), color-stop(100%, rgba(16, 16, 16, 0.06)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #151718 0%, rgba(21, 23, 24, 0.98) 26%, rgba(21, 23, 24, 0.96) 32%, rgba(21, 23, 24, 0.9) 42%, rgba(21, 23, 24, 0.83) 48%, rgba(22, 24, 25, 0.69) 57%, rgba(22, 24, 25, 0.59) 61%, rgba(20, 23, 23, 0.36) 75%, rgba(22, 25, 25, 0.33) 77%, rgba(23, 23, 23, 0.26) 81%, rgba(20, 24, 24, 0.24) 82%, rgba(22, 22, 26, 0.23) 83%, rgba(24, 24, 24, 0.22) 84%, rgba(20, 26, 26, 0.2) 86%, rgba(22, 22, 22, 0.19) 87%, rgba(24, 24, 24, 0.18) 88%, rgba(20, 20, 27, 0.15) 90%, rgba(22, 22, 22, 0.14) 91%, rgba(25, 25, 25, 0.12) 92%, rgba(18, 27, 27, 0.11) 94%, rgba(20, 20, 20, 0.1) 95%, rgba(26, 26, 26, 0.08) 97%, rgba(14, 28, 28, 0.07) 99%, rgba(16, 16, 16, 0.06) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #151718 0%, rgba(21, 23, 24, 0.98) 26%, rgba(21, 23, 24, 0.96) 32%, rgba(21, 23, 24, 0.9) 42%, rgba(21, 23, 24, 0.83) 48%, rgba(22, 24, 25, 0.69) 57%, rgba(22, 24, 25, 0.59) 61%, rgba(20, 23, 23, 0.36) 75%, rgba(22, 25, 25, 0.33) 77%, rgba(23, 23, 23, 0.26) 81%, rgba(20, 24, 24, 0.24) 82%, rgba(22, 22, 26, 0.23) 83%, rgba(24, 24, 24, 0.22) 84%, rgba(20, 26, 26, 0.2) 86%, rgba(22, 22, 22, 0.19) 87%, rgba(24, 24, 24, 0.18) 88%, rgba(20, 20, 27, 0.15) 90%, rgba(22, 22, 22, 0.14) 91%, rgba(25, 25, 25, 0.12) 92%, rgba(18, 27, 27, 0.11) 94%, rgba(20, 20, 20, 0.1) 95%, rgba(26, 26, 26, 0.08) 97%, rgba(14, 28, 28, 0.07) 99%, rgba(16, 16, 16, 0.06) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #151718 0%, rgba(21, 23, 24, 0.98) 26%, rgba(21, 23, 24, 0.96) 32%, rgba(21, 23, 24, 0.9) 42%, rgba(21, 23, 24, 0.83) 48%, rgba(22, 24, 25, 0.69) 57%, rgba(22, 24, 25, 0.59) 61%, rgba(20, 23, 23, 0.36) 75%, rgba(22, 25, 25, 0.33) 77%, rgba(23, 23, 23, 0.26) 81%, rgba(20, 24, 24, 0.24) 82%, rgba(22, 22, 26, 0.23) 83%, rgba(24, 24, 24, 0.22) 84%, rgba(20, 26, 26, 0.2) 86%, rgba(22, 22, 22, 0.19) 87%, rgba(24, 24, 24, 0.18) 88%, rgba(20, 20, 27, 0.15) 90%, rgba(22, 22, 22, 0.14) 91%, rgba(25, 25, 25, 0.12) 92%, rgba(18, 27, 27, 0.11) 94%, rgba(20, 20, 20, 0.1) 95%, rgba(26, 26, 26, 0.08) 97%, rgba(14, 28, 28, 0.07) 99%, rgba(16, 16, 16, 0.06) 100%);
  /* IE10+ */
  background: linear-gradient(to right, #151718 0%, rgba(21, 23, 24, 0.98) 26%, rgba(21, 23, 24, 0.96) 32%, rgba(21, 23, 24, 0.9) 42%, rgba(21, 23, 24, 0.83) 48%, rgba(22, 24, 25, 0.69) 57%, rgba(22, 24, 25, 0.59) 61%, rgba(20, 23, 23, 0.36) 75%, rgba(22, 25, 25, 0.33) 77%, rgba(23, 23, 23, 0.26) 81%, rgba(20, 24, 24, 0.24) 82%, rgba(22, 22, 26, 0.23) 83%, rgba(24, 24, 24, 0.22) 84%, rgba(20, 26, 26, 0.2) 86%, rgba(22, 22, 22, 0.19) 87%, rgba(24, 24, 24, 0.18) 88%, rgba(20, 20, 27, 0.15) 90%, rgba(22, 22, 22, 0.14) 91%, rgba(25, 25, 25, 0.12) 92%, rgba(18, 27, 27, 0.11) 94%, rgba(20, 20, 20, 0.1) 95%, rgba(26, 26, 26, 0.08) 97%, rgba(14, 28, 28, 0.07) 99%, rgba(16, 16, 16, 0.06) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#151718', endColorstr='#0f101010',GradientType=1 );
  /* IE6-9 */
  left: 0;
}

.right-filler {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#101010+0,0d1b1b+1,181b1b+3,151414+5,121717+6,141b1b+8,191818+9,161616+10,14141b+12,181818+13,171616+14,141919+16,181719+18,15171a+19,151817+21,171717+25,161919+26,141717+27,161819+32,161718+100&amp;0.06+0,0.11+8,0.27+22,0.6+44,0.67+47,0.86+61,0.91+66,0.98+79,1+100 */
  background: -moz-linear-gradient(left, rgba(16, 16, 16, 0.06) 0%, rgba(13, 27, 27, 0.07) 1%, rgba(24, 27, 27, 0.08) 3%, rgba(21, 20, 20, 0.09) 5%, rgba(18, 23, 23, 0.1) 6%, rgba(20, 27, 27, 0.11) 8%, rgba(25, 24, 24, 0.12) 9%, rgba(22, 22, 22, 0.13) 10%, rgba(20, 20, 27, 0.15) 12%, rgba(24, 24, 24, 0.16) 13%, rgba(23, 22, 22, 0.17) 14%, rgba(20, 25, 25, 0.2) 16%, rgba(24, 23, 25, 0.22) 18%, rgba(21, 23, 26, 0.23) 19%, rgba(21, 24, 23, 0.26) 21%, rgba(22, 24, 23, 0.27) 22%, rgba(23, 23, 23, 0.32) 25%, rgba(22, 25, 25, 0.33) 26%, rgba(20, 23, 23, 0.35) 27%, rgba(22, 24, 25, 0.42) 32%, rgba(22, 24, 25, 0.6) 44%, rgba(22, 24, 25, 0.67) 47%, rgba(22, 24, 25, 0.86) 61%, rgba(22, 24, 25, 0.91) 66%, rgba(22, 24, 25, 0.98) 79%, #161718 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(16, 16, 16, 0.06)), color-stop(1%, rgba(13, 27, 27, 0.07)), color-stop(3%, rgba(24, 27, 27, 0.08)), color-stop(5%, rgba(21, 20, 20, 0.09)), color-stop(6%, rgba(18, 23, 23, 0.1)), color-stop(8%, rgba(20, 27, 27, 0.11)), color-stop(9%, rgba(25, 24, 24, 0.12)), color-stop(10%, rgba(22, 22, 22, 0.13)), color-stop(12%, rgba(20, 20, 27, 0.15)), color-stop(13%, rgba(24, 24, 24, 0.16)), color-stop(14%, rgba(23, 22, 22, 0.17)), color-stop(16%, rgba(20, 25, 25, 0.2)), color-stop(18%, rgba(24, 23, 25, 0.22)), color-stop(19%, rgba(21, 23, 26, 0.23)), color-stop(21%, rgba(21, 24, 23, 0.26)), color-stop(22%, rgba(22, 24, 23, 0.27)), color-stop(25%, rgba(23, 23, 23, 0.32)), color-stop(26%, rgba(22, 25, 25, 0.33)), color-stop(27%, rgba(20, 23, 23, 0.35)), color-stop(32%, rgba(22, 24, 25, 0.42)), color-stop(44%, rgba(22, 24, 25, 0.6)), color-stop(47%, rgba(22, 24, 25, 0.67)), color-stop(61%, rgba(22, 24, 25, 0.86)), color-stop(66%, rgba(22, 24, 25, 0.91)), color-stop(79%, rgba(22, 24, 25, 0.98)), color-stop(100%, #161718));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(16, 16, 16, 0.06) 0%, rgba(13, 27, 27, 0.07) 1%, rgba(24, 27, 27, 0.08) 3%, rgba(21, 20, 20, 0.09) 5%, rgba(18, 23, 23, 0.1) 6%, rgba(20, 27, 27, 0.11) 8%, rgba(25, 24, 24, 0.12) 9%, rgba(22, 22, 22, 0.13) 10%, rgba(20, 20, 27, 0.15) 12%, rgba(24, 24, 24, 0.16) 13%, rgba(23, 22, 22, 0.17) 14%, rgba(20, 25, 25, 0.2) 16%, rgba(24, 23, 25, 0.22) 18%, rgba(21, 23, 26, 0.23) 19%, rgba(21, 24, 23, 0.26) 21%, rgba(22, 24, 23, 0.27) 22%, rgba(23, 23, 23, 0.32) 25%, rgba(22, 25, 25, 0.33) 26%, rgba(20, 23, 23, 0.35) 27%, rgba(22, 24, 25, 0.42) 32%, rgba(22, 24, 25, 0.6) 44%, rgba(22, 24, 25, 0.67) 47%, rgba(22, 24, 25, 0.86) 61%, rgba(22, 24, 25, 0.91) 66%, rgba(22, 24, 25, 0.98) 79%, #161718 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(16, 16, 16, 0.06) 0%, rgba(13, 27, 27, 0.07) 1%, rgba(24, 27, 27, 0.08) 3%, rgba(21, 20, 20, 0.09) 5%, rgba(18, 23, 23, 0.1) 6%, rgba(20, 27, 27, 0.11) 8%, rgba(25, 24, 24, 0.12) 9%, rgba(22, 22, 22, 0.13) 10%, rgba(20, 20, 27, 0.15) 12%, rgba(24, 24, 24, 0.16) 13%, rgba(23, 22, 22, 0.17) 14%, rgba(20, 25, 25, 0.2) 16%, rgba(24, 23, 25, 0.22) 18%, rgba(21, 23, 26, 0.23) 19%, rgba(21, 24, 23, 0.26) 21%, rgba(22, 24, 23, 0.27) 22%, rgba(23, 23, 23, 0.32) 25%, rgba(22, 25, 25, 0.33) 26%, rgba(20, 23, 23, 0.35) 27%, rgba(22, 24, 25, 0.42) 32%, rgba(22, 24, 25, 0.6) 44%, rgba(22, 24, 25, 0.67) 47%, rgba(22, 24, 25, 0.86) 61%, rgba(22, 24, 25, 0.91) 66%, rgba(22, 24, 25, 0.98) 79%, #161718 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(16, 16, 16, 0.06) 0%, rgba(13, 27, 27, 0.07) 1%, rgba(24, 27, 27, 0.08) 3%, rgba(21, 20, 20, 0.09) 5%, rgba(18, 23, 23, 0.1) 6%, rgba(20, 27, 27, 0.11) 8%, rgba(25, 24, 24, 0.12) 9%, rgba(22, 22, 22, 0.13) 10%, rgba(20, 20, 27, 0.15) 12%, rgba(24, 24, 24, 0.16) 13%, rgba(23, 22, 22, 0.17) 14%, rgba(20, 25, 25, 0.2) 16%, rgba(24, 23, 25, 0.22) 18%, rgba(21, 23, 26, 0.23) 19%, rgba(21, 24, 23, 0.26) 21%, rgba(22, 24, 23, 0.27) 22%, rgba(23, 23, 23, 0.32) 25%, rgba(22, 25, 25, 0.33) 26%, rgba(20, 23, 23, 0.35) 27%, rgba(22, 24, 25, 0.42) 32%, rgba(22, 24, 25, 0.6) 44%, rgba(22, 24, 25, 0.67) 47%, rgba(22, 24, 25, 0.86) 61%, rgba(22, 24, 25, 0.91) 66%, rgba(22, 24, 25, 0.98) 79%, #161718 100%);
  /* IE10+ */
  background: linear-gradient(to right, rgba(16, 16, 16, 0.06) 0%, rgba(13, 27, 27, 0.07) 1%, rgba(24, 27, 27, 0.08) 3%, rgba(21, 20, 20, 0.09) 5%, rgba(18, 23, 23, 0.1) 6%, rgba(20, 27, 27, 0.11) 8%, rgba(25, 24, 24, 0.12) 9%, rgba(22, 22, 22, 0.13) 10%, rgba(20, 20, 27, 0.15) 12%, rgba(24, 24, 24, 0.16) 13%, rgba(23, 22, 22, 0.17) 14%, rgba(20, 25, 25, 0.2) 16%, rgba(24, 23, 25, 0.22) 18%, rgba(21, 23, 26, 0.23) 19%, rgba(21, 24, 23, 0.26) 21%, rgba(22, 24, 23, 0.27) 22%, rgba(23, 23, 23, 0.32) 25%, rgba(22, 25, 25, 0.33) 26%, rgba(20, 23, 23, 0.35) 27%, rgba(22, 24, 25, 0.42) 32%, rgba(22, 24, 25, 0.6) 44%, rgba(22, 24, 25, 0.67) 47%, rgba(22, 24, 25, 0.86) 61%, rgba(22, 24, 25, 0.91) 66%, rgba(22, 24, 25, 0.98) 79%, #161718 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f101010', endColorstr='#161718',GradientType=1 );
  /* IE6-9 */
  right: 0;
}

.owl-item {
  position: relative;
}
.owl-item:hover .slide a:after {
  border: 8px solid #f0db00;
  opacity: 1;
}
.owl-item .slide a:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
  border: 8px solid #f0db00;
  opacity: 0;
}
.owl-item .slide.inactive a:after {
  content: '';
  background-color: rgba(255, 255, 255, 0.79);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  border: none;
  z-index: 1;
}
.owl-item .slide.inactive a:before {
  content: '';
  background: url(../images/icons/icon-close.png) 50% 50% no-repeat;
  background-size: 133px 133px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.content-box {
  border: 4px solid #ffffff;
  width: 630px;
  height: 630px;
  margin: 0 auto 30px auto;
  position: relative;
}

.team-selection {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team-opponent {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.team-rabbitohs {
  background: url(../images/team-rabbitohs.jpg) 0 0 no-repeat;
  background-size: cover;
}

.bg-cowboys {
  background: url(../images/bg-cowboys.jpg) 0 0 no-repeat;
  background-size: cover;
}

.josh-dugan {
  background: url(../images/josh-dugan.png) 0 0 no-repeat;
  background-size: cover;
}

.content-box-info {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  text-align: center;
}
.content-box-info .content {
  max-width: 470px;
  margin: 0 auto;
}

.match-vs {
  padding-bottom: 0px;
  display: block;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}
.match-vs:before, .match-vs:after {
  content: " ";
  display: table;
}
.match-vs:after {
  clear: both;
}
.match-vs .logo {
  position: absolute;
  left: 50%;
  top: -14px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
.match-vs .team-left {
  float: left;
  width: 50%;
}
.match-vs .team-right {
  float: right;
  width: 50%;
}

.match-info {
  font-size: 24px;
  color: #a4a4a4;
  padding-top: 10px;
  border-top: 1px solid #3f4042;
}
.match-info h3 {
  color: #ffffff;
  font-weight: 800;
}

.sub-title {
  font-size: 16px;
  display: block;
  text-transform: uppercase;
  line-height: 1.2;
}

.hashtag {
  color: #f0db00;
  font-size: 14px;
}

.team-name {
  color: #f0db00;
  font-size: 23px;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px black;
  line-height: 1;
  font-weight: 800;
  margin-bottom: 10px;
  display: block;
}

.vs-text {
  position: absolute;
  left: 50%;
  bottom: 10px;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 20px;
  color: #adadad;
  font-weight: bold;
}

.team-score {
  font-size: 80px;
  color: #ffffff;
  font-weight: 800;
  line-height: 64px;
  padding-top: 6px;
  padding-bottom: 2px;
}

.score-box {
  background-color: #000000;
  border: 2px solid #f0db00;
  width: 106px;
  height: 72px;
  color: #ffffff;
  line-height: 73px;
  margin: 0 auto;
  -webkit-box-shadow: black 0px 0px 5px;
  box-shadow: black 0px 0px 5px;
  padding-top: 0;
  padding-bottom: 0;
}

.year {
  font-size: 80px;
  color: #ffffff;
  font-weight: 800;
  line-height: 1;
  margin-bottom: -10px;
}

.social {
  display: block;
  margin-bottom: 25px;
}
.social .btn {
  height: 121px;
}
.social .row {
  margin-left: -4px;
  margin-right: -4px;
}
.social .col-xs-1, .social .col-sm-1, .social .col-md-1, .social .col-lg-1, .social .col-xs-2, .social .col-sm-2, .social .col-md-2, .social .col-lg-2, .social .col-xs-3, .social .col-sm-3, .social .col-md-3, .social .col-lg-3, .social .col-xs-4, .social .col-sm-4, .social .col-md-4, .social .col-lg-4, .social .col-xs-5, .social .col-sm-5, .social .col-md-5, .social .col-lg-5, .social .col-xs-6, .social .col-sm-6, .social .col-md-6, .social .col-lg-6, .social .col-xs-7, .social .col-sm-7, .social .col-md-7, .social .col-lg-7, .social .col-xs-8, .social .col-sm-8, .social .col-md-8, .social .col-lg-8, .social .col-xs-9, .social .col-sm-9, .social .col-md-9, .social .col-lg-9, .social .col-xs-10, .social .col-sm-10, .social .col-md-10, .social .col-lg-10, .social .col-xs-11, .social .col-sm-11, .social .col-md-11, .social .col-lg-11, .social .col-xs-12, .social .col-sm-12, .social .col-md-12, .social .col-lg-12 {
  padding-left: 4px;
  padding-right: 4px;
}

@media (max-width: 767px) {
  .container, .container-fluid {
    padding-left: 8px;
    padding-right: 8px;
  }

  .row {
    margin-left: -4px;
    margin-right: -4px;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 4px;
    padding-right: 4px;
  }

  body {
    background-size: cover;
  }

  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    min-height: 100%;
  }

  .wrapper-offset {
    margin-left: -20px;
    margin-right: -20px;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 15px;
  }

  h2 {
    font-size: 18px;
  }

  h3 {
    font-size: 14px;
  }

  .icon-facebook {
    background: url(../images/icons/icon-facebook.png) 0 0 no-repeat;
    background-size: 13px 26px;
    width: 13px;
    height: 26px;
  }

  .icon-twitter {
    background: url(../images/icons/icon-twitter.png) 0 0 no-repeat;
    background-size: 35px 24px;
    width: 35px;
    height: 24px;
  }

  .icon-save {
    background: url(../images/icons/icon-save.png) 0 0 no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
  }

  .btns .btn {
    margin-bottom: 15px;
  }

  .btn {
    font-size: 15px;
    height: 58px;
  }

  .btn-default {
    border: 2px solid #f0db00 !important;
  }

  .intro h1 {
    font-size: 24px;
  }
  .intro h1 span {
    font-size: 14px;
  }
  .intro h1 span:before, .intro h1 span:after {
    height: 2px;
    margin-top: -2px;
    width: 104px;
  }
  .intro h1 em {
    font-size: 31px;
  }
  .intro .logo {
    margin-bottom: 20px;
  }

  .logo {
    background-size: 77px 88px;
    width: 77px;
    height: 88px;
  }

  .logo-small {
    background-size: 34px 39px;
    width: 34px;
    height: 39px;
  }

  .intro-content {
    padding-left: 20px;
    padding-right: 20px;
    min-height: 1px;
    width: 280px;
    margin: 0 auto;
  }

  .intro-btns {
    padding-left: 25px;
    padding-right: 25px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
  }

  .content-box {
    border: 2px solid #ffffff;
    width: 270px;
    height: 270px;
    margin: 0 auto 15px auto;
  }

  .content-box-info {
    bottom: 10px;
  }
  .content-box-info .content {
    padding-left: 30px;
    padding-right: 30px;
  }

  .match-vs {
    padding-left: 0px;
    padding-right: 0px;
  }
  .match-vs .logo {
    top: -7px;
  }
  .match-vs .team-left {
    float: left;
    width: 50%;
  }
  .match-vs .team-right {
    float: right;
    width: 50%;
  }

  .match-info {
    font-size: 11px;
    padding-top: 5px;
  }
  .match-info h3 {
    color: #ffffff;
    font-weight: 800;
    font-size: 13px;
  }

  .sub-title {
    font-size: 11px;
  }

  .hashtag {
    font-size: 11px;
  }

  .team-name {
    font-size: 14px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    line-height: 1.2;
    margin-bottom: 5px;
  }

  .vs-text {
    position: absolute;
    left: 50%;
    bottom: 5px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 12px;
    color: #adadad;
    font-weight: bold;
  }

  .team-score {
    font-size: 40px;
    color: #ffffff;
    font-weight: 800;
    line-height: 30px;
  }

  .score-box {
    border: 1px solid #f0db00;
    width: 54px;
    height: 36px;
    line-height: 36px;
  }

  .year {
    font-size: 36px;
    color: #ffffff;
    margin-bottom: -5px;
  }

  .social {
    display: block;
    margin-bottom: 15px;
  }
  .social .btn {
    height: 52px;
  }
  .social .row {
    margin-left: -2px;
    margin-right: -2px;
  }
  .social .col-xs-1, .social .col-sm-1, .social .col-md-1, .social .col-lg-1, .social .col-xs-2, .social .col-sm-2, .social .col-md-2, .social .col-lg-2, .social .col-xs-3, .social .col-sm-3, .social .col-md-3, .social .col-lg-3, .social .col-xs-4, .social .col-sm-4, .social .col-md-4, .social .col-lg-4, .social .col-xs-5, .social .col-sm-5, .social .col-md-5, .social .col-lg-5, .social .col-xs-6, .social .col-sm-6, .social .col-md-6, .social .col-lg-6, .social .col-xs-7, .social .col-sm-7, .social .col-md-7, .social .col-lg-7, .social .col-xs-8, .social .col-sm-8, .social .col-md-8, .social .col-lg-8, .social .col-xs-9, .social .col-sm-9, .social .col-md-9, .social .col-lg-9, .social .col-xs-10, .social .col-sm-10, .social .col-md-10, .social .col-lg-10, .social .col-xs-11, .social .col-sm-11, .social .col-md-11, .social .col-lg-11, .social .col-xs-12, .social .col-sm-12, .social .col-md-12, .social .col-lg-12 {
    padding-left: 2px;
    padding-right: 2px;
  }

  .carousel-container {
    margin-bottom: 20px;
  }

  .left-filler, .right-filler {
    width: 40px;
  }

  .owl-item:hover .slide a:after {
    border: 4px solid #f0db00;
  }
  .owl-item .slide a:after {
    border: 4px solid #f0db00;
  }
}
/* 480 - 767 */
@media (min-width: 480px) and (max-width: 767px) {
  .container, .container-fluid {
    padding-left: 12px;
    padding-right: 12px;
  }

  .row {
    margin-left: -6px;
    margin-right: -6px;
  }

  .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    padding-left: 6px;
    padding-right: 6px;
  }

  .wrapper {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .wrapper-offset {
    margin-left: -35px;
    margin-right: -35px;
  }

  h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 20px;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 18px;
  }

  .icon-facebook {
    background: url(../images/icons/icon-facebook.png) 0 0 no-repeat;
    background-size: 19px 39px;
    width: 19px;
    height: 39px;
  }

  .icon-twitter {
    background: url(../images/icons/icon-twitter.png) 0 0 no-repeat;
    background-size: 52px 36px;
    width: 52px;
    height: 36px;
  }

  .icon-save {
    background: url(../images/icons/icon-save.png) 0 0 no-repeat;
    background-size: 44px 44px;
    width: 44px;
    height: 44px;
  }

  .btns .btn {
    margin-bottom: 30px;
  }

  .btn {
    font-size: 23px;
    height: 86px;
  }

  .intro h1 {
    font-size: 35px;
  }
  .intro h1 span {
    font-size: 20px;
  }
  .intro h1 span:before, .intro h1 span:after {
    width: 152px;
  }
  .intro h1 span:before {
    left: 0px;
  }
  .intro h1 span:after {
    right: 0px;
  }
  .intro h1 em {
    font-size: 46px;
  }
  .intro .logo {
    margin-bottom: 25px;
  }

  .logo {
    background-size: 98px 113px;
    width: 98px;
    height: 113px;
  }

  .logo-small {
    background-size: 52px 60px;
    width: 52px;
    height: 60px;
  }

  .intro-content {
    padding-left: 30px;
    padding-right: 30px;
    width: 400px;
  }

  .intro-btns {
    padding-left: 34px;
    padding-right: 34px;
    width: 100%;
    left: 0;
    position: absolute;
    bottom: 0;
  }

  .content-box {
    border: 2px solid #ffffff;
    width: 403px;
    height: 403px;
    margin: 0 auto 22px auto;
  }

  .content-box-info {
    bottom: 15px;
  }
  .content-box-info .content {
    padding-left: 40px;
    padding-right: 40px;
  }

  .match-vs {
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .match-vs .logo {
    top: -14px;
  }

  .match-info {
    font-size: 14px;
    padding-top: 10px;
  }
  .match-info h3 {
    color: #ffffff;
    font-weight: 800;
    font-size: 18px;
  }

  .sub-title {
    font-size: 14px;
  }

  .hashtag {
    font-size: 14px;
  }

  .team-name {
    font-size: 16px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px black;
    line-height: 1;
    display: block;
    margin-bottom: 10px;
  }

  .vs-text {
    position: absolute;
    left: 50%;
    bottom: 8px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    font-size: 14px;
    color: #adadad;
    font-weight: bold;
  }

  .team-score {
    font-size: 50px;
    color: #ffffff;
    font-weight: 800;
    line-height: 40px;
  }

  .score-box {
    border: 2px solid #f0db00;
    width: 68px;
    height: 48px;
    line-height: 48px;
  }

  .year {
    font-size: 80px;
    color: #ffffff;
  }

  .social .btn {
    height: 76px;
  }
  .social .row {
    margin-left: -3px;
    margin-right: -3px;
  }
  .social .col-xs-1, .social .col-sm-1, .social .col-md-1, .social .col-lg-1, .social .col-xs-2, .social .col-sm-2, .social .col-md-2, .social .col-lg-2, .social .col-xs-3, .social .col-sm-3, .social .col-md-3, .social .col-lg-3, .social .col-xs-4, .social .col-sm-4, .social .col-md-4, .social .col-lg-4, .social .col-xs-5, .social .col-sm-5, .social .col-md-5, .social .col-lg-5, .social .col-xs-6, .social .col-sm-6, .social .col-md-6, .social .col-lg-6, .social .col-xs-7, .social .col-sm-7, .social .col-md-7, .social .col-lg-7, .social .col-xs-8, .social .col-sm-8, .social .col-md-8, .social .col-lg-8, .social .col-xs-9, .social .col-sm-9, .social .col-md-9, .social .col-lg-9, .social .col-xs-10, .social .col-sm-10, .social .col-md-10, .social .col-lg-10, .social .col-xs-11, .social .col-sm-11, .social .col-md-11, .social .col-lg-11, .social .col-xs-12, .social .col-sm-12, .social .col-md-12, .social .col-lg-12 {
    padding-left: 3px;
    padding-right: 3px;
  }
}

.back-link{
  display: block;
  margin: 0 auto 30px;
  font-size: 24px;
}
