<wizard on-finish="finishedWizard()" hide-indicators='true' current-step='currentStepName'>

  <wz-step title="are-team-in-final" class="screen">
    <div class="intro">
      <div class="main-bg"></div>
      <div class="intro-wrap">
        <div class="logo"></div>
        <div class="intro-content">
          <h2>Which Team Will be</h2>
          <h1>2015 PREMIERS?</h1>
          <p>2 teams left, both vying for the Provan-Summons Trophy. Who will win? What will be the score? Make your call now!</p>
        </div>
        <div class="intro-btns">
          <div class="btns">
            <a href="" class="btn btn-primary btn-block" ng-click="teamInFinal()"><span>Which team will be 2015 premiers?</span></a>
            <a href="" class="btn btn-default btn-block" ng-click="teamNotInFinal()"><span>Your team not in the Grand Final?</span></a>
          </div>
        </div>
      </div>
    </div>
  </wz-step>

  <!-- 2015 BEGIN -->
  <wz-step title="step1-2015-select-the-winning-team">
    <div class="step-1-to-4">
      <div class="content-box">
        <div class="team-selection" ng-style="{background: 'url('+team1.image_url_bg+')'}">
            <div class="team-opponent"></div>
        </div>
        <div class="content-box-info">
          <div class="content">
            <div class="match-vs">
              <div class="team-left">
                <div class="team-score score-box" style="opacity: 0;">
                  {{ result.score1 }}
                </div>
                <div class="team-name">{{ team1.name }}</div>
              </div>
              <div class="profile-pic" ng-style="{background: 'url('+user.picture+')'}" ng-if="user.picture"></div>
              <div class="logo"></div>
              <div class="team-right">
              </div>
            </div>
            <div class="match-info">
              <div class="heading-group">
                <div class="hashtag">MY CALL FOR THE #NRLGF <span class="sub-url">NRL.COM/NRLGF</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2><strong>Select The</strong> <span class="text-primary">Winning team</span></h2>
      <div class="carousel-container wrapper-offset">
        <div class="left-filler"></div>
        <div class="right-filler"></div>
        <div class="owl-left"><img src="/images/left.png" alt=""/></div>
        <div class="owl-right"><img src="/images/right.png" alt=""/></div>
        <div class="carousel" id="team-carousel" style="visibility: hidden;">
          <div ng-repeat="team in teams" class="slide">
            <a href="" ng-click="setActiveWinningTeam(team)" ng-class="{ itemselected: isActiveWinningTeam(team) }"><img ng-src="{{ team.image_url_logo }}" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wrapper-offset">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <a href="" class="btn btn-secondary btn-block" wz-cancel="previous()"><span>Previous</span></a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <a href="" class="btn btn-primary btn-block" ng-click="winningTeamSelected()"><span>Next step</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wz-step>

  <wz-step title="step2-2015-select-the-winning-image">
    <div class="step-1-to-4">
      <div class="content-box">
        <div class="team-selection" ng-style="{background: 'url('+activeWinningImage.full_url+'), url('+team1.image_url_bg+')'}">
            <div class="team-opponent"></div>
        </div>
        <div class="content-box-info">
          <div class="content">
            <div class="match-vs">
              <div class="team-left">
                <div class="team-score score-box" style="opacity: 0;">
                  {{ result.score1 }}
                </div>
                <div class="team-name">{{ team1.name }}</div>
              </div>
              <div class="profile-pic" ng-style="{background: 'url('+user.picture+')'}" ng-if="user.picture"></div>
              <div class="logo"></div>
              <div class="team-right">
              </div>
            </div>
            <div class="match-info">
              <div class="heading-group">
                <div class="hashtag">MY CALL FOR THE #NRLGF <span class="sub-url">NRL.COM/NRLGF</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2><strong>Select The</strong> <span class="text-primary">Winning image</span></h2>
      <div class="carousel-container wrapper-offset">
        <div class="left-filler"></div>
        <div class="right-filler"></div>
        <div class="owl-left"><img src="/images/left.png" alt=""/></div>
        <div class="owl-right"><img src="/images/right.png" alt=""/></div>

        <div class="carousel" id="image-carousel-2015" style="visibility: hidden;">
          <div ng-repeat="image in team1.winning_images" class="slide">
            <a href="" ng-click="setActiveWinningImage(image)" ng-class="{ itemselected: isActiveWinningImage(image) }"><img ng-src="{{ image.preview_url }}" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wrapper-offset">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <a href="" class="btn btn-secondary btn-block" wz-previous="previous()"><span>Previous</span></a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <a href="" class="btn btn-primary btn-block" ng-click="winningImageSelected()"><span>Next step</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wz-step>

  <wz-step title="step3-2015-select-the-losing-team">
    <div class="step-1-to-4">
      <div class="content-box">
        <div class="team-selection" ng-style="{background: 'url('+activeWinningImage.full_url+'), url('+team1.image_url_bg+')'}">
            <div class="team-opponent"></div>
        </div>
        <div class="content-box-info">
          <div class="content">
            <div class="match-vs">
              <div class="team-left">
                <div class="team-score score-box" style="opacity: 0;">
                  {{ result.score1 }}
                </div>
                <div class="team-name">{{ team1.name }}</div>
              </div>
              <div class="profile-pic" ng-style="{background: 'url('+user.picture+')'}" ng-if="user.picture"></div>
              <div class="logo"></div>
              <div class="team-right">
                <div class="team-score score-box" style="opacity: 0;">
                  {{ result.score2 }}
                </div>
                <div class="team-name">{{ team2.name }}</div>
              </div>
            </div>
            <div class="match-info">
              <div class="heading-group">
                <div class="hashtag">MY CALL FOR THE #NRLGF <span class="sub-url">NRL.COM/NRLGF</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2><strong>Select The</strong> <span class="text-primary">Losing team</span></h2>
      <div class="carousel-container wrapper-offset">
        <div class="left-filler"></div>
        <div class="right-filler"></div>
        <div class="owl-left"><img src="/images/left.png" alt=""/></div>
        <div class="owl-right"><img src="/images/right.png" alt=""/></div>

        <div class="carousel" id="losing-team-carousel" style="visibility: hidden;">
          <div ng-repeat="team in teamsLosing" class="slide" ng-class="{ inactive: isActiveWinningTeam(team) }">
            <a href="" ng-click="!isActiveWinningTeam(team) && setActiveLosingTeam(team)" ng-class="{ itemselected: isActiveLosingTeam(team) }"><img ng-src="{{ team.image_url_logo }}" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wrapper-offset">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <a href="" class="btn btn-secondary btn-block" wz-previous="previous()"><span>Previous</span></a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <a href="" class="btn btn-primary btn-block" ng-click="losingTeamSelected()"><span>Next step</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wz-step>

  <wz-step title="step4-2015-select-the-losing-image">
    <div class="step-1-to-4">
      <div class="content-box">
        <div class="team-selection" ng-style="{background: 'url('+activeWinningImage.full_url+'), url('+team1.image_url_bg+')'}">
            <div class="team-opponent" ng-style="{background: 'url('+activeLosingImage.full_url+')'}"></div>
        </div>
        <div class="content-box-info">
          <div class="content">
            <div class="match-vs">
              <div class="team-left">
                <div class="team-score score-box" style="opacity: 0;">
                  {{ result.score1 }}
                </div>
                <div class="team-name">{{ team1.name }}</div>
              </div>
              <div class="profile-pic" ng-style="{background: 'url('+user.picture+')'}" ng-if="user.picture"></div>
              <div class="logo"></div>
              <div class="team-right">
                <div class="team-score score-box" style="opacity: 0;">
                  {{ result.score2 }}
                </div>
                <div class="team-name">{{ team2.name }}</div>
              </div>
            </div>
            <div class="match-info">
              <div class="heading-group">
                <div class="hashtag">MY CALL FOR THE #NRLGF <span class="sub-url">NRL.COM/NRLGF</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2><strong>Select The</strong> <span class="text-primary">Losing image</span></h2>
      <div class="carousel-container wrapper-offset">
        <div class="left-filler"></div>
        <div class="right-filler"></div>
        <div class="owl-left"><img src="/images/left.png" alt=""/></div>
        <div class="owl-right"><img src="/images/right.png" alt=""/></div>

        <div class="carousel" id="losing-image-carousel" style="visibility: hidden;">
          <div ng-repeat="image in team2.losing_images" class="slide">
            <a href="" ng-click="setActiveLosingImage(image)" ng-class="{ itemselected: isActiveLosingImage(image) }"><img ng-src="{{ image.preview_url }}" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wrapper-offset">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <a href="" class="btn btn-secondary btn-block" wz-previous="previous()"><span>Previous</span></a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <a href="" class="btn btn-primary btn-block" ng-click="losingImageSelected()"><span>Next step</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wz-step>

  <wz-step title="step5-2015-call-the-final-score" canexit="scoreValidation">
    <div class="step-1-to-4">
      <div class="content-box">
        <div class="team-selection" ng-style="{background: 'url('+activeWinningImage.full_url+'), url('+team1.image_url_bg+')'}">
            <div class="team-opponent" ng-style="{background: 'url('+activeLosingImage.full_url+')'}"></div>
        </div>
        <div class="content-box-info">
          <div class="content">
            <div class="match-vs">
              <div class="team-left">
                <input id="team1-score" type="number" min="1" max="99" class="team-score score-box" ng-model="result.score1" ng-pattern-restrict="^[0-9]{0,2}$">
                <div class="team-name">{{ team1.name }}</div>
              </div>
              <div class="profile-pic" ng-style="{background: 'url('+user.picture+')'}" ng-if="user.picture"></div>
              <div class="logo"></div>
              <div class="team-right">
                <input type="number" min="0" max="99" class="team-score score-box" ng-model="result.score2" ng-pattern-restrict="^[0-9]{0,2}$">
                <div class="team-name">{{ team2.name }}</div>
              </div>
            </div>
            <div class="match-info">
              <div class="heading-group">
                <div class="hashtag">MY CALL FOR THE #NRLGF <span class="sub-url">NRL.COM/NRLGF</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h2><strong>Call The</strong> <span class="text-primary">Final Score</span></h2>
      <div class="wrapper-offset">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <a href="" class="btn btn-secondary btn-block" wz-previous="previous()"><span>Previous</span></a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <a href="" class="btn btn-primary btn-block" ng-click="scoreSelected()"><span>Next step</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wz-step>
  <!-- 2015 END -->

  <!-- 2016 BEGIN -->
  <wz-step title="step1-2016-select-the-winning-team">
    <div class="step-1-to-4">
      <div class="content-box">
        <div class="team-selection" ng-style="{background: 'url('+team1.image_url_bg+')'}">
            <div class="team-opponent"></div>
        </div>
      </div>
      <h2><strong>Select The</strong> <span class="text-primary">Winning team</span></h2>
      <div class="carousel-container wrapper-offset">
        <div class="left-filler"></div>
        <div class="right-filler"></div>
        <div class="owl-left"><img src="/images/left.png" alt=""/></div>
        <div class="owl-right"><img src="/images/right.png" alt=""/></div>

        <div class="carousel" id="team-carousel-2016" style="visibility: hidden;">
          <div ng-repeat="team in teams" class="slide">
            <a href="" ng-click="setActiveWinningTeam(team)" ng-class="{ itemselected: isActiveWinningTeam(team) }"><img ng-src="{{ team.image_url_logo }}" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wrapper-offset">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <a href="" class="btn btn-secondary btn-block" wz-cancel><span>Previous</span></a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <a href="" class="btn btn-primary btn-block" wz-next="winningTeamSelected()"><span>Next step</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wz-step>

  <wz-step title="step2-2016-select-the-winning-image">
    <div class="step-1-to-4">
      <div class="content-box">
        <div class="team-selection" ng-style="{background: 'url('+activeWinningImage.full_url+')'}">
            <div class="team-opponent"></div>
        </div>
      </div>
      <h2><strong>Select The</strong> <span class="text-primary">Winning image</span></h2>
      <div class="carousel-container wrapper-offset">
        <div class="left-filler"></div>
        <div class="right-filler"></div>
        <div class="owl-left"><img src="/images/left.png" alt=""/></div>
        <div class="owl-right"><img src="/images/right.png" alt=""/></div>

        <div class="carousel" id="image-carousel-2016" style="visibility: hidden;">
          <div ng-repeat="image in team1.winning_images" class="slide">
            <a href="" ng-click="setActiveWinningImage(image)" ng-class="{ itemselected: isActiveWinningImage(image) }"><img ng-src="{{ image.preview_url }}" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wrapper-offset">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
              <a href="" class="btn btn-secondary btn-block" wz-previous="previous()"><span>Previous</span></a>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
              <a href="" class="btn btn-primary btn-block" wz-finish><span>Next step</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wz-step>
  <!-- 2016 END -->

  <!-- SHARE -->
  <wz-step title="share-2015">
    <div class="content-box">
      <div class="team-selection" ng-style="{background: 'url('+activeWinningImage.full_url+'), url('+team1.image_url_bg+')'}">
          <div class="team-opponent" ng-style="{background: 'url('+activeLosingImage.full_url+')'}"></div>
      </div>
      <div class="content-box-info">
        <div class="content">
          <div class="match-vs">
            <div class="team-left">
              <div class="team-score">
                {{ result.score1 }}
              </div>
              <div class="team-name">{{ team1.name }}</div>
            </div>
            <div class="profile-pic" ng-style="{background: 'url('+user.picture+')'}" ng-if="user.picture"></div>
            <div class="logo"></div>
            <div class="team-right">
              <div class="team-score">
                {{ result.score2 }}
              </div>
              <div class="team-name">{{ team2.name }}</div>
            </div>
          </div>
          <div class="match-info">
            <div class="heading-group">
              <div class="hashtag">MY CALL FOR THE #NRLGF <span class="sub-url">NRL.COM/NRLGF</span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 ng-show="isLoading"><strong>SAVING..</strong> <span class="text-primary">PLEASE WAIT</span></h2>
    <h2 ng-show="!isLoading"><strong>LET YOUR CALL</strong> <span class="text-primary">BE KNOWN</span></h2>
    <div class="social" ng-show="!isLoading">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-xs-4">
            <a class="btn btn-primary btn-block" href="" ng-click="shareFb()"><span><i class="icon icon-facebook"></i></span></a>
          </div>
          <div class="col-sm-4 col-xs-4">
            <a class="btn btn-primary btn-block" href="" ng-click="shareTwitter()"><span><i class="icon icon-twitter"></i></span></a>
          </div>
          <div class="col-sm-4 col-xs-4">
            <a id="download-image" class="btn btn-primary btn-block" ng-click="trackDownload($event)"><span><i class="icon icon-save"></i></span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a class="back-link" ng-show="!isLoading" href="http://www.nrl.com/draw/telstrapremiership/ladderpredictor/tabid/10868/default.aspx" target="_blank">
        To predict the entire 2015 NRL Telstra Premiership Finals Series click here
      </a>
    </div>

    <div class="logo"></div>
  </wz-step>

  <wz-step title="share-2016">
    <div class="content-box">
      <div class="team-selection" ng-style="{background: 'url('+activeWinningImage.full_url+')'}">
          <div class="team-opponent"></div>
      </div>
      </div>
    </div>
    <h2><strong>LET YOUR 2016 CALL</strong> <span class="text-primary">BE KNOWN</span></h2>
    <div class="social">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-4 col-xs-4">
            <a class="btn btn-primary btn-block" ng-click="shareFb()"><span><i class="icon icon-facebook"></i></span></a>
          </div>
          <div class="col-sm-4 col-xs-4">
            <a class="btn btn-primary btn-block" ng-click="shareTwitter()"><span><i class="icon icon-twitter"></i></span></a>
          </div>
          <div class="col-sm-4 col-xs-4">
            <a class="btn btn-primary btn-block" ng-click="trackDownload($event)" download><span><i class="icon icon-save"></i></span></a>
          </div>
        </div>
      </div>
    </div>
    <div>
      <a class="back-link" href="http://www.nrl.com/draw/telstrapremiership/ladderpredictor/tabid/10868/default.aspx" target="_blank">
        To predict the entire 2015 NRL Telstra Premiership Finals Series click here
      </a>
    </div>

    <div class="logo"></div>
  </wz-step>

  <wz-step title="collect-data">
    <div class="step-1-to-4">
      <div class="logo-big"></div>
      <h2><strong>Who do you want</strong></h2>
      <h2><span class="text-primary">To Win The 2016 Premiership?</span></h2>
      <div class="carousel-container wrapper-offset">
        <div class="left-filler"></div>
        <div class="right-filler"></div>
        <div class="owl-left"><img src="/images/left.png" alt=""/></div>
        <div class="owl-right"><img src="/images/right.png" alt=""/></div>

        <div class="carousel" id="collect-data-carousel" style="visibility: hidden;">
          <div ng-repeat="team in teams" class="slide">
            <a href="" ng-click="setActiveWinningTeam(team)" ng-class="{ itemselected: isActiveWinningTeam(team) }"><img ng-src="{{ team.image_url_logo }}" alt=""></a>
          </div>
        </div>
      </div>
      <div class="wrapper-offset">
        <div class="container-fluid">
          <div class="intro-btns">
            <div class="btns">
              <input id="postcode" type="number" class="postcode team-score" style="margin-bottom:15px;font-size:15px;text-align:center;" placeholder="ENTER YOUR POSTCODE" />
              <a id="send-data-btn" href="" class="btn btn-primary btn-block" ng-click="sendData()"><span>Submit</span></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </wz-step>
  <!-- SHARE END -->

</wizard>
